<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python36\python.exe|C:\Python36\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <caching>
            <profiles>
                <add extension=".pyc" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".py" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="dashboard.server" />   
        <add key="PYTHONPATH" value="C:\dashboard" />
        <add key="WSGI_LOG" value="C:\dashboard\web.log" />
    </appSettings>
</configuration>